<nav class="nav-bar">
  <% if(userId) { %>
  <div class="nav-buttons">
    <a class="home-button" href="/index">Home</a>
    <a class="home-button my-quiz-button" href="/myQuizzes">My Quizzes</a>
    <a class="create-quiz" href="/createQuiz">Create a Quiz</a>
  </div>
  <div class="app-title">Quizzy</div>
  <div class="user-logout">
    <div class="u-id"><%= userId %></div>
    <a class="logout" href="/logout"> Logout </a>
  </div>
  <% } %> <% if(!userId) { %>
  <div class="nav-buttons" id="nav-loggedout">
    <a class="home-button" href="/index">Home</a>
  </div>
  <div class="app-title" id="loggedout">Quizzy</div>
  <div class="user-login-logout" id="nav-login-logout">
    <a class="login" href="/login"> Login  </a>
    <a class="register" href="/register"> Register </a>
  </div>
  <% } %>
</nav>
