body {
  font-size: 24px;
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  background-color: rgb(245,245,245);
}

.quiz-container {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.create-quiz {
  padding: 1rem;
  color: whitesmoke;
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-pic {
  width: 20%;
  margin-top: 0.25rem;
}

.quiz-box {
    background: white;
    width: 30%;
    height: auto;
    margin: 2rem 1rem;
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.15);
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%);
    border-left: solid #00b5ac 3px;
    border-top: solid #00b5ac 6px;
    transition: 0.3s;
}
#my-quiz-box {
  background: white;
  width: 30%;
  height: 500px;
  margin: 2rem 1rem;
  display: flex;
  border-radius: 25px;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,0.15);
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 5%);
  border-left: solid #00b5ac 3px;
  border-top: solid #00b5ac 6px;
  transition: 0.3s;
}
.quiz-box:hover{
  box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
}

.quiz-description {
  width: 90%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 14px;
  align-items: center;
}

.right-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-quiz-right-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.quiz-image {
  margin: 0 auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 3px solid #00b5ac;
}

.left-box {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}

.quiz-name {
  font-weight: 700;
  font-size: 24px;
}

.quiz-creator {
  font-size: 16px;
  margin-bottom: 0.25rem;
}

.share-quiz-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #00b5ac;
  border-color: #00b5ac;
  font-size: 18px;
  font-weight: 600;
}

.share-quiz-button-email {
  display: flex;
}

#delete-quiz {
  color: #ff5700;
  border-color: #ff5700;
}
#delete-quiz:hover {
  color: #FFFFFF;
  background-color:#ff5700;

}
.share-btn {
  display: inline-block;
  color: #ff5700;
  border: none;
  outline: none;
  text-align: center;
  font-size: 0.9em;
  margin: 0 0.2em;
}

.share-btn:focus,
.share-btn:hover {
  text-decoration: none;
  opacity: 0.8;
}

.share-btn:active {
  color: #e2e2e2;
}

.take-quiz-button {
  color: #00b5ac;
  border-color: #00b5ac;
  font-size: 24px;
}

.share-button-email {
    color: #00b5ac;
    font-size: 24px;
}

.btn-outline-primary {
  color: #00b5ac;
  background-color: transparent;
  background-image: none;
  border-color: #00b5ac;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #00b5ac;
  border-color: #00b5ac;
}

.share-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.quiz-stats {
  font-size: 18px;
}

.title-container {
  display: flex;
  width: 100vw;
}
.my-quiz-title {
  justify-content: left;
  font-size: 40px;
  font-weight: 400;
  padding-left: 2rem;
 }
