.nav-bar {
  background-color: #00b5ac;
  background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
  height: 140px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  position: fixed;
  z-index: 99;
}

.nav-buttons {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.logout {
  color: whitesmoke;
  padding: 1rem;
}

.login {
  color: whitesmoke;
  padding: 1rem;
}

.app-title {
  font-weight: 900;
  /* margin: 0px 450px 0px 265px; */
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  align-self: center;
  margin-right: 300px;
}

.home-button {
  padding: 1rem;
  color: whitesmoke;
}

.user-login-logout {
  display: flex;
  align-items: center;
  padding: 20px;
}

.user-logout {
  display: flex;
  align-items: center;
  padding: 20px;
}

.create-quiz {
  padding: 1rem;
  display: flex;
  color: whitesmoke;
  width: 200px;
}

.register {
  color: whitesmoke;
  padding: 0.5rem;
}

.register:hover {
  color: #027bff;
  text-decoration: none;
  font-weight: 600;
}

.logout:hover {
  color: #027bff;
  text-decoration: none;
}

.login:hover {
  color: #027bff;
  text-decoration: none;
}

.home-button:hover {
  color: #027bff;
  text-decoration: none;
}

.create-quiz:hover {
  color: #027bff;
  text-decoration: none;
}

#nav-loggedout {
  margin-left: 2rem;
}

#nav-login-logout {
  margin-right: 2rem;
}

#loggedout {
  display: flex;
  margin: 0px 0px 0px 150px;
}
