.creation-container {
  width: 80%;
  padding: 2rem 1rem;
}

.meta-quiz-info {
  display: flex;
  justify-content: space-between;
  border: 2px solid #808080;
  border-radius: 25px;
  padding: 1rem;
}

.meta-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 8rem 3rem 0rem;
}

.page-title {
  display: flex;
  padding: 1rem;
  width: 77%;
  font-size: 32px;
  font-weight: 600;
  margin-top: 1rem;
  color: #00b5ac;
  border-bottom: 2px;
  border-bottom-style: dashed;
}

.question-info {
  display: flex;
  border: solid 2px;
  height: 4rem;
}

#quiz-descrip-text {
  margin: 0.5rem;
  height: 5.5rem;
}

#quiz-title-text {
  margin: 0.5rem;
  height: 2.5rem;
}

#img-url-text {
  margin: 0.5rem;
  height: 2.5rem;
}

.meta-quiz-left {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.meta-quiz-left textarea {
  background-color: white;
  border: none;
  width: 100%;
}

.privacy-option {
  padding-left: 3rem;
}

.question-indiv {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem;
  flex-direction: column;
  border: 2px solid #808080;
  border-radius: 25px;
}

.question-indiv textarea {
  border: none;
  margin: 0.5rem;
  width: 71%;
}

.question-top {
  display: flex;
  margin-top: 0.5rem;
}

.question-options {
  display: flex;
  flex-direction: column;
}

#question-text {
  overflow: auto;
  resize: vertical;
  width: 700px;
  height: 4rem;
  margin-right: 20rem;
}

.question-number {
  margin-right: 1rem;
  width: 150px;
}

#answer-toggle {
  height: 30px;
}

.question-each-option {
  height: 30px;
  font-size: 20px;
  margin: 0.2rem;
}

.hidden-vis {
  visibility: hidden;
  width: 0;
}

.privacy-title {
  padding-left: 3rem;
}

.submit-quiz-button {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  margin-top: 2rem;
  justify-content: flex-end;
}

#answer-toggle {
  border: none;
  margin: 0.25rem 0.5rem 0.5rem 0.5rem;
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

#answer-toggle-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

#eye {
  display: flex;
  justify-content: center;
  padding-left: 3rem;
  color: #00b5ac;
  font-size: 30px;
}

#add-question {
  color: #00b5ac;
  border-color: #00b5ac;
  font-size: 24px;
}

#create-quiz {
  font-size: 36px;
  padding: 0.7rem 1rem;
  background-color: #00b5ac;
  color: white;
  border-color: white;
  border: double;
}
