body {
  font-size: 24px;
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  background-color: whitesmoke;
}

.creation-container {
  width: 80%;
  padding: 1rem;
}

.meta-quiz-info {
  display: flex;
  color: whitesmoke;
  justify-content: space-between;
  background: #00b5ac;
  height: auto;
  margin: 1rem 0rem;
  display: flex;
  border-radius: 25px;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 3px 3px 10px rgb(0 0 0 / 5%);
  border-left: solid #00b5ac 3px;
  border-top: solid #00b5ac 6px;
  transition: 0.3s;
}

.meta-quiz-info:hover{
  box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
}

.meta-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 5.5rem 0rem 0rem;
}

.page-title {
  display: flex;
  width: 77%;
  font-size: 32px;
  font-weight: 600;
  margin-top: 1rem;
  padding: 1rem 1rem 0rem 1rem;
  color: #00b5ac;
}

.question-info {
  display: flex;
  border: solid 2px;
  height: 4rem;
}

#quiz-descrip-text {
  margin: 0.5rem;
  height: 5.5rem;
  resize: none;
  border: 0.5px solid #767676;
  border-radius: 10px;
  padding: 0.2rem;
}

#quiz-title-text {
  margin: 0.5rem;
  height: 2.5rem;
  resize: none;
  border: 0.5px solid #767676;
  border-radius: 10px;
  padding: 0.2rem;
}

#img-url-text {
  margin: 0.5rem;
  height: 2.5rem;
  resize: none;
  border: 0.5px solid #767676;
  border-radius: 10px;
  padding: 0.2rem;
}

.meta-quiz-left {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.meta-quiz-left textarea {
  background-color: white;
  border: none;
  width: 100%;
}

.privacy-option {
  padding-left: 3rem;
}

.question-indiv {
    flex-direction: column;
    background: white;
    height: auto;
    margin: 1rem 0rem;
    display: flex;
    border-radius: 25px;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%);
    border-left: solid #00b5ac 3px;
    border-top: solid #00b5ac 6px;
    transition: 0.3s;
}

.question-indiv:hover{
  box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
}

.question-indiv textarea {
  margin: 0.5rem;
  width: 71%;
  resize: none;
  border: 0.5px solid #767676;
  border-radius: 10px;
}

.question-top {
  display: flex;
  margin-top: 0.5rem;
}

.question-options {
  display: flex;
  flex-direction: column;
}

#question-text {
  overflow: auto;
  overflow: auto;
  resize: none;
  width: 600px;
  height: 4rem;
  margin-right: 5rem;
}

.question-number {
  margin-right: 1rem;
  width: 150px;
}

#answer-toggle {
  height: 30px;
}

.question-each-option {
  height: 30px;
  font-size: 20px;
  margin: 0.2rem;
}

.hidden-vis {
  visibility: hidden;
  width: 0;
}

.privacy-title {
  padding-left: 3rem;
}

.submit-quiz-button {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  margin-top: 2rem;
  justify-content: flex-end;
}

#answer-toggle {
  border: none;
  margin: 0.25rem 0.5rem 0.5rem 0.5rem;
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

#answer-toggle-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

#eye {
  display: flex;
  justify-content: center;
  padding-left: 3rem;
  color: whitesmoke;
  font-size: 30px;
}

#add-question {
  color: #00b5ac;
  border-color: #00b5ac;
  font-size: 24px;
}

#add-question:hover {
  background-color: #00b5ac;
  color: white;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
}

#create-quiz {
  font-size: 36px;
  padding: 0.7rem 1rem;
  background-color: #00b5ac;
  color: white;
  border-color: white;
  border-radius: 1rem;
}

#create-quiz:hover {
  box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
}

