body {
  font-size: 24px;
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  background-color: whitesmoke;
}

.q-container {
  padding-top: 2rem;
}


.top-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  width: 80%;
  background: #00b5ac;
  height: auto;
  margin: 1rem 0rem;
  border-radius: 25px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 3px 3px 10px rgb(0 0 0 / 5%);
  transition: 0.3s;
  border: double 8px whitesmoke;
  color: whitesmoke;
}

.questions-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.q-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.indiv-question {
  flex-direction: column;
  background: white;
  height: auto;
  margin: 1rem 0rem;
  display: flex;
  border-radius: 25px;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 3px 3px 10px rgb(0 0 0 / 5%);
  border-left: solid #00b5ac 3px;
  border-top: solid #00b5ac 6px;
  transition: 0.3s;
}

.answer-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.opta-optb {
  padding: 0.5rem 3rem;
}

.optc-optd {
  padding: 0.5rem 3rem;
}

.submit-answers-button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  justify-content: center;
  display: flex;
}

.indiv-question {
  padding-left: 1rem;
}

#submit-quiz-answers {
  font-size: 36px;
  padding: 0.7rem 1rem;
  background-color: #00b5ac;
  color: white;
  border-color: white;
}

#submit-quiz-answers:hover{
  box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
}

.option-text {
  font-size: 18px;
}

.question-numb {
  font-weight: 600;
}
.question-descrip {
  border-bottom: 1px solid;
}

.answer-select label {
  font-size: 24px;
  font-weight: 400;
}

form {
  width: 80%;
}

.take-quiz-callout {
  font-size: 40px;
  font-weight: 600;
}

.quiz-title {
  font-weight: 500;
  font-size: 32px;
}

.quiz-descrip {
  font-weight: 400;
  text-align: justify;
  padding: 1rem 2rem;
}

.indiv-question:hover{
  box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
}
